 <%= content_tag :div, class: 'media well', id: "comment-#{comment.id}" do %>
  <%= link_to user_path(comment.user), class: 'pull-left' do %>
    <%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>
  <% end %>
  <div class="media-body">
    <small>
      <%= comment.user.name %> 评论于 <%= time_ago_in_words(comment.created_at) %> 以前
      <% if policy(comment).destroy? %>
        | <%= link_to "删除评论", [comment.post, comment], method: :delete, remote: true %>
      <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
<% end %>