<%= simple_form_for [post, comment], :remote => true do |f| %>
<!--   <% if comment.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(comment.errors.count, "error") %>.</h4>
      <ul>
        <% comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> This is an error showing individual error-->
  <%= f.input :body, label: '你的评论', rows: 2, class: 'form-control', placeholder: "请在此输入你的评论" %>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>

