<div class="media well col-md-6">
  <%= link_to user, class: 'pull-left' do %>
    <%= image_tag(user.avatar.profile.url) if user.avatar? %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to user.name, user %>
    </h4>
    <small>
      <%= user.posts_count %> 帖子, 
      <%= user.comments_count %>评论
    </small>
  </div>
</div>