 <div class="media well">
  <%= render partial: 'votes/voter', locals: {post: post} %>
  <div class="media-body">
    <div class="row">
      <div class="col-md-8">
        <h4 class="media-heading">
          <%= link_to (markdown post.title), [post.topic, post] %>
        </h4>
        <small>
          <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %> <%= post.user.name%>，发布于 <%= time_ago_in_words(post.created_at) %> 以前， 
          <%= post.comments.count %> 个评论
        </small>  
      </div>  
    </div>
  </div> 
</div>  
